      html, body, .viewport {
        width: 100%;
        height: 100%;
        margin: 0;
      }

      /* encapsulate the various syntax in helper clases */
      /* inspired by http://infrequently.org/2009/08/css-3-progress/ */

      /* items flex/expand vertically */
      .vbox {
        /* previous syntax */
        display: -webkit-box;
        display:    -moz-box;
        display:         box;

        -webkit-box-orient: vertical;
           -moz-box-orient: vertical;
            -ms-box-orient: vertical;
                box-orient: vertical;

        /* current syntax */
        display: -webkit-flex;
        display:    -moz-flex;
        display:     -ms-flex;
        display:         flex;

        -webkit-flex-direction: column;
           -moz-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
      }

      /* items flex/expand horizontally */
      .hbox {
        /* previous syntax */
        display: -webkit-box;
        display:    -moz-box;
        display:     -ms-box;
        display:         box;

        -webkit-box-orient: horizontal;
           -moz-box-orient: horizontal;
            -ms-box-orient: horizontal;
                box-orient: horizontal;

        /* current syntax */
        display: -webkit-flex;
        display:    -moz-flex;
        display:     -ms-flex;
        display:         flex;

        -webkit-flex-direction: row;
           -moz-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
      }
            
            
      

/*======================*/

.header {
    background:rgba(96,125,139, 1); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(96,125,139, 1),rgba(3,169,244,0.3)); /* For Safari 5.1 to 6.0.3 */
    background: -o-linear-gradient(rgba(96,125,139, 1),rgba(3,169,244,0.3)); /* For Opera 11.1 to 12.0.3 */
    background: -moz-linear-gradient(rgba(96,125,139, 1),rgba(3,169,244,0.3)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(96,125,139, 1),rgba(3,169,244,0.3)); /* Standard syntax */
    height: 40px;
    font-weight: 400;
    font-size:2.0em;
    width:100%;
    flex-basis: auto;
    padding:5px;
}

.main-messages{
    text-align: left;
    overflow-y: scroll;
    margin-bottom:75px;
}

.message-row{
    padding:10px;
    margin:5px;
    background-color:lightblue;
    border-radius: 3px; 
}

.message-text{
    padding-left:15px;
    font-size: 1.3em;
}

.user-list-div{
    background: rgba(0, 0, 255, 0.3);
    flex-basis: auto;
}

ul {
    list-style-type: none;
}
li {
    margin:5px;
}

@media all and (min-width: 600px) {
  .user-list-div {
    flex: 1 auto;
  }
}

@media all and (min-width: 800px) {
  .main-messages {
    flex: 12 0px;
  }

  .user-list-div {
    order: 1;
  }

  .main-messages {
    order: 2;
  }

  .chat-input {
    order: 3;
    justify-content: flex-end;
  }
}

.chat-input {
    display: flex; /* or inline-flex */
    flex-direction: row;
    align-items: center;
    background: orange; 
    position: absolute;
    bottom: 0;
    width:100%;
    height:75px;
}

.chat-input-child {
    margin: auto;
}

.msg-input{
    width:80%;
    margin-top:auto;
}